/*================
Estilos Body
=================*/
/*.blog-body{
    background: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}*/
/*==========================
Estilos Contenedor Principal
============================*/

header{
    min-height: auto;
    border: 1px solid black;
}
.logo{
    border: 1px solid black;
}
.redes-sociales{
    border: 1px solid black;
}
.redes{
    background: red;
}
ul li{
    margin: 5px;
    color: blue;
}
.row:after{
    clear: both;
}
