/*================
Estilos Body
=================*/
.blog-body{
    background: url(../img/fondo.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
/*==========================
Estilos Contenedor Principal
============================*/
header{
    background: #940a37;
}
.jumbotron{
    background: #848484;
}
a:hover{
    background-color: blueviolet;
}
.row:after{
    clear: both;
}
